body{
    background-color:#272727;
    font-family: Verdana, sans-serif;
    /*background-color:white;*/
}
h1{
    font-size: 1.4em;

}
h2{
    font-size: 1.3em;
}

h3{
    font-size: 1.2em;
}
h2.title_header{
    margin-top:30px;
    margin-bottom:5px;
    color:#17a3f1 !important;
    font-size:1.4em;
    /*padding:0px;
    margin:0px; */
    text-shadow: 5px 5px 5px black;
}
h2 a{
    color:#17a3f1 !important;
    text-decoration:none !important;
}
.title{
    font-size:1.75em !important;
    color:#bb7700 !important;
    text-align:center !important;
    text-shadow: 5px 5px 5px black !important;
    text-decoration: none !important;
}
#footer{
    padding:10px;
    color:#1793d1;
    text-align:center;
    text-shadow: 5px 5px 5px black;
    max-width:800px;
    margin-right:auto;
    margin-left:auto;
}
.content{
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
}
.post{
    padding:25px !important;
    padding-top:15px !important;
    background-color:#eee;
    /* border: 2px solid #99f; */
    border: 1px solid black;
    padding:9px;
    border-radius:10px;
    -moz-box-shadow: 10px 10px 5px black;
    -webkit-box-shadow: 10px 10px 5px black;
    box-shadow: 10px 10px 5px black;
    font-size:1em;
}
a:link {
    color:#33f;
    text-decoration:underline;
}
a:visited {
    color:black;
}
a:hover {
    color:#c81;
}
a:active {
    color:red;
}

.datestuffs{
    font-size:0.9em;
}
pre{
    margin:20px;
}
blockquote{
    border:1px solid #1793d1;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #adf;
}
pre code {
    display:block !important;
    border:medium none !important;
    padding:5px;
    background-color: #adf;
}
pre{
    border: 1px solid gray;
}
code{
    padding:1px;
    border: 1px solid gray;
    background-color: #adf;
}
